
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: fixed;
   background-color: aquamarine;
    width: 100%;
    height: 50px;
  

}
.main{
    position: absolute;
    margin-top:90px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-right: 60px;
    
    
}
header{
    align-items: center;
    
}
   