body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: bisque;
        }

        header {
            background: #171b1e;
            padding: 12px;
            text-align: center;
            display: flex;
            flex-direction: row;
            color: white;
            position: fixed;
            margin: 0;
            height: 70px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

       input {
            background: white;
              max-width: 400px;
            margin: 20px;
            padding: 20px;
            border-radius: 10px;
             width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
           
            cursor: pointer;
        }
        

        .houses {
           
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
        }

        .house {
            background: white;
            border-radius: 10px;
            width: 450px;
            overflow: hidden;
            margin-top: 100px;
        }

        .house img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

         .details {
            padding: 15px;
        }

         h3 {
            margin: 0;
            font-size: 20px;
        }

         p {
            margin: 8px 0;
            color: #555;
        }

        button {
           
            padding: 10px 15px;
            background: #3498db;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 10px;
            border: none;
        }