
.page{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    box-sizing: border-box;
    width: 200px;
    border-width: 10px;}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
    
}
.h1{
    font-family:Arial, Helvetica, sans-serif ;
    font-size:50;
    margin: 0px;
    color:black;
    justify-content: top;
    align-items: center;
    padding: 15px;
    margin: 0px;
    display: flex;
}
.inputs{
    display: flex;
    flex-direction: column;
   gap: 10px; 
   height: 300px;
   width: 300px;
   background-color: white;
   align-items: center;
   border-radius: 10px;
   
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: white;
    height: 380px;
    gap: 10px;
    
}
input{
    width: 230px;
    height: 20px;
    padding: 7px 10px;
    margin: 10px;
    border-radius: 5px;
    border:  1px solid; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 50px;
   
}